<div class="add-user-button-container">
  <button class="see-all-users-button" (click)="showAllSubjects()">{{ showAllSubjectsButtonText }}</button>
  <button class="see-all-users-button" (click)="toggleFormVisibility()">{{ addButtonText }}</button>
  <button class="see-all-users-button" (click)="showAllActivities()">{{ showAllActivitiesButtonText }}</button>
</div>

<div class="user-form" *ngIf="isFormVisible">
  <form (submit)="onSubmit()" class="login-form">
    <div class="form-group">
      <label for="user_role">*Druh aktivity:</label>
      <select id="user_role" name="user_role" [(ngModel)]="activity.type" required>
        <option>přednáška</option>
        <option>cvičení</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="user_role">*Délka aktivity v hodinách:</label>
      <select id="user_role" name="user_role" [(ngModel)]="activity.length" required>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="user_role">*Opakování:</label>
      <select id="user_role" name="user_role" [(ngModel)]="activity.week" required>
        <option>každý týden</option>
        <option>sudý</option>
        <option>lichý</option>
        <option>jednorázová</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="user_role">*Předmět ke kterému aktivita patří:</label>
      <select id="user_role" name="user_role" [(ngModel)]="activity.subject_code" required>
        <option *ngFor="let subject of subjects" [value]="subject.subject_code">{{ subject.subject_code}}</option>
      </select>
    </div>

    <button type="submit" class="login-button">Add activity</button>
  </form>
</div>

<table class="content-table" *ngIf="showAllSubjectsTable">
    <thead>
      <tr>
        <th>code</th>
        <th>name</th>
        <th>annotation</th>
        <th>teachers</th>
        <th>add teacher</th>
        <th *ngIf="showSelectColumn"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subjects">
        <td>{{ subject.subject_code }}</td>
        <td>{{ subject.subject_name }}</td>
        <td>{{ subject.subject_annotation }}</td>
        <td>{{ subject.subject_annotation }}</td>
        <td><button (click)="subjectInEditMode[subject.subject_code] ? endEditSubject(subject) : editSubject(subject)" class="icon-button">
          <mat-icon>{{ subjectInEditMode[subject.subject_code] ? 'done' : 'person_add' }}</mat-icon></button></td>
          <!-- New column for select element -->
      <td *ngIf="showSelectColumn && subjectInEditMode[subject.subject_code]">
        <!-- Add your select element here -->
        <select id="user_role" name="user_role" [(ngModel)]="aBlock.teacher" required>
          <option *ngFor="let teacher of teachers" [value]="teacher.user_id">{{ teacher.user_firstname + " " + teacher.user_lastname }}</option>
        </select>
      </td>
      </tr>
    </tbody>
  </table>

  <table class="content-table" *ngIf="showAllActivitiesTable">
    <thead>
      <tr>
        <th>type</th>
        <th>length</th>
        <th>week</th>
        <th>subject_code</th>
        <th>delete</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities">
        <td>{{ activity.activity_type }}</td>
        <td>{{ activity.activity_length }}</td>
        <td>{{ activity.activity_week }}</td>
        <td>{{ activity.activity_subject_code }}</td>
        <td><button (click)="deleteActivity(activity)" class="icon-button">
          <mat-icon>delete</mat-icon></button></td>
        <td><button (click)="activityInEditMode[activity.activity_id] ? endEditActivity(activity) : editActivity(activity)" class="icon-button">
          <mat-icon>{{ activityInEditMode[activity.activity_id] ? 'done' : 'edit' }}</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
  <!-- adding teacher -->
