<div *ngIf="itIsRozvrhar" class="center-container">

  <button (click)="sortAblocksByDay()">Seřadit podle času</button>
  <button (click)="sortAblocksByActivityId()">Seřadit podle id aktivity</button>

  <div *ngFor="let block of aBlocks" [ngStyle]="{'color': getColorForBlock(block)}">
    {{ block.a_block_activity_id }} - {{ block.a_block_day }} - {{ block.a_block_begin }}:00 - {{ block.a_block_end }}:00


    <span *ngIf="block.a_block_activity_id !== undefined">
      Předmět: {{ getActivitySubjectCode(block.a_block_activity_id) }} - Typ: {{ getActivityType(block.a_block_activity_id) }}
    </span>


    <!-- Zobrazení informací o učiteli -->
    <span *ngIf="block.a_block_teacher !== undefined">
      Učitel: {{ getTeacherName(block.a_block_teacher) }}
    </span>

    <!-- Zobrazení informací o týdnu -->
    <span *ngIf="block.weekInfo && block.weekInfo.records && block.weekInfo.records.length > 0">
      Týden: {{ block.weekInfo.records[0].activity_week }}
    </span>

    <!-- Select pro výběr místnosti a tlačítko "Save" pro nepotvrzené bloky -->
    <ng-container *ngIf="block.a_block_confirmed !== 1 && canSaveBlock(block) && !hasConfirmedBlockWithActivityId(block.a_block_activity_id)">
      <select [(ngModel)]="selectedRooms[block.a_block_id]" (change)="onRoomChange(block, selectedRooms[block.a_block_id])">
        <ng-container *ngFor="let room of rooms">
          <ng-container *ngIf="!getOccupiedRooms(block.a_block_day, block.a_block_begin, block.a_block_end).includes(room.room_code)">
            <option [value]="room.room_code">
              {{ room.room_code }} - Kapacita: {{ room.room_capacity }}
            </option>
          </ng-container>
        </ng-container>
      </select>

      <!-- Tlačítko "Save" -->
      <button (click)="saveRoom(block)">Save</button>
    </ng-container>

    <!-- Tlačítko "Remove" pro potvrzené bloky -->
    <ng-container *ngIf="block.a_block_confirmed === 1">
      <span>Místnost: {{ block.a_block_room_code }} </span>
      <button (click)="removeBlock(block)">Remove</button>
    </ng-container>

    <br>
  </div>
</div>

<div *ngIf="itIsStudent">
  <div *ngFor="let block of sortedSchedule" class="block-container">
    <p class="day-heading">{{ block.a_block_day }}, {{ block.a_block_begin }}:00 - {{ block.a_block_end }}:00</p>
    <p class="schedule-info">Subject: {{ block.subject_code }} - {{ block.subject_name }}</p>
    <p class="schedule-info">Type: {{ block.activity_type }}</p>
    <p class="schedule-info">Room: {{ block.a_block_room_code }}</p>
  </div>
</div>
