<table class="content-table">
    <thead>
      <tr>
        <th>code</th>
        <th>name</th>
        <th>annotation</th>
        <th>guarantor</th>
        <th *ngIf="itIsStudent">add subject</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subjects">
        <td>{{ subject.subject_code }}</td>
        <td>{{ subject.subject_name }}</td>
        <td>{{ subject.subject_annotation }}</td>
        <td>{{ getTeacherName(subject.subject_guarantor) }}</td>
        <td *ngIf="itIsStudent">
          <button (click)="toggleSubject(subject)" class="icon-button">
            <mat-icon>
              {{ subjectsIhave.includes(subject.subject_code) ? 'remove' : 'add' }}
            </mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>