<div class="add-user-button-container">
  <button class="see-all-users-button" (click)="showAllSubjects()">{{ showAllSubjectsButtonText }}</button>
  <button class="add-user-button" (click)="toggleFormVisibility()">{{ addButtonText }}</button>
</div>

<div class="user-form" *ngIf="isFormVisible">
    <form (submit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="user_firstname">Subject code:</label>
        <input type="text" id="user_firstname" name="user_firstname" [(ngModel)]="subject.code" required>
      </div>

      <div class="form-group">
        <label for="user_lastname">Subject name:</label>
        <input type="text" id="user_lastname" name="user_lastname" [(ngModel)]="subject.name" required>
      </div>

      <div class="form-group">
        <label for="user_email">Subject annotation:</label>
        <input type="text" id="user_email" name="user_email" [(ngModel)]="subject.annotation" required>
      </div>

      <div class="form-group">
        <label for="user_role">Subject guarantor:</label>
        <select id="user_role" name="user_role" [(ngModel)]="subject.guarantor" required>
          <option *ngFor="let teacher of teachers" [value]="teacher.user_id">{{ teacher.user_firstname + " " + teacher.user_lastname }}</option>
        </select>
      </div>
      <button type="submit" class="login-button">Add subject</button>
    </form>
  </div>

  <table class="content-table" *ngIf="showAllSubjectsTable">
    <thead>
      <tr>
        <th>code</th>
        <th>name</th>
        <th>annotation</th>
        <th>guarantor</th>
        <th>delete</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subjects">
        <td *ngIf="!subjectInEditMode[subject.subject_code]">{{ subject.subject_code }}</td>
        <td *ngIf="!subjectInEditMode[subject.subject_code]">{{ subject.subject_name }}</td>
        <td *ngIf="!subjectInEditMode[subject.subject_code]">{{ subject.subject_annotation }}</td>
        <td *ngIf="!subjectInEditMode[subject.subject_code]">{{ subject.subject_guarantor }}</td>
        <td *ngIf="subjectInEditMode[subject.subject_code]"><input [(ngModel)]="subject.subject_code"></td>
        <td *ngIf="subjectInEditMode[subject.subject_code]"><input [(ngModel)]="subject.subject_name"></td>
        <td *ngIf="subjectInEditMode[subject.subject_code]"><input [(ngModel)]="subject.subject_annotation"></td>
        <td *ngIf="subjectInEditMode[subject.subject_code]">
          <select [(ngModel)]="subject.subject_guarantor">
            <option value="teacher">54</option>
            <option value="student">36</option>
          </select>
        </td>
        <td><button (click)="deleteSubject(subject)" class="icon-button">
          <mat-icon>delete</mat-icon></button></td>
        <td><button (click)="subjectInEditMode[subject.subject_code] ? endEditSubject(subject) : editSubject(subject)" class="icon-button">
          <mat-icon>{{ subjectInEditMode[subject.subject_code] ? 'done' : 'edit' }}</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
