<header>
  <div class="navbar">
    <ul class="links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/">Schedule</a></li>
      <!-- <li><a routerLink="/">Student</a></li> -->
      <div class="menu-container" clickOutside (ClickOutside)="clickedOutside()"> 
        <div class="menu-toggler" (click)="toggleMenu()">Student</div>
        <div class="menu" *ngIf="isMenuOpened">
          <div class="menu-item">See all subjects</div>
          <div class="menu-item">Add/Delete subjects</div>
        </div>
      </div>
      <li><a routerLink="/">Teacher</a></li>
      <li><a routerLink="/">Admin</a></li>
      <li><a routerLink="/">Sign up</a></li>
      <li><a routerLink="/">Sign in</a></li>
    </ul>
  </div>
</header>